.mobileNavbarLine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-family: var(--font-second);
  color: var(--color-gold);

  cursor: pointer;
  
  transition: 0.5s;

}

.mobileNavbarLine:nth-child(odd) {
  background-color: var(--color-white);
  position: absolute;
  left: -100vw;
}

.mobileNavbarLine:nth-child(even) {
  background-color: var(--color-black);
  position: absolute;
  left: -100vw;
}

.mobileNavbarLine.active {
  left: 0;
}