header {
  height: var(--height);
  max-height: 14vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  background-image: url("../../../img/header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% var(--height);

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  transition: left 0.5s, height 0s;

  border-bottom: 2px solid var(--color-black);

}

header.mini {
  height: calc(var(--height) / 3);
  min-height: 8vh;
}

header.active {
  height: var(--height);
}

header::before {
  content: '';

  height: var(--height);
  width: 100vw;

  position: absolute;
  top: 0;
  left: -100vw;

  background-color: var(--color-black-transparent);
  transition: 0.5s;
}

header.active::before {
  left: 0;

}

header h1 {
  position: absolute;
  transform: translateX(0%);
  left: 0%;
  color: var(--color-white);
  padding: 1.25rem 0.675rem;
  z-index: 5;
  transition: transform .5s, left .5s, font-size 0.5s;
}


header h1.active {
  transform: translateX(-50%) translateY(80%);
  left: 50%;
  font-size: var(--title-height);
}


.header-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 0.25fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-hamburger {
  grid-area: 1 / 2 / 2 / 3;
  margin: 1rem 0 0 auto;
}

.grid-h1 {
  grid-area: 1 / 1 / 3 / 3;
}

.mobilenavbar-container {
  margin-top: 12rem
}