header {
  height: var(--height);
  min-height: 18vh;
  padding: 0 1.25rem;

  background-image: url("../../../img/header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% var(--height);

  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
  transition: 0.5s;

}

header::before {
  content: '';
  
  height: var(--height);
  width: 100vw;

  position: absolute;
  top: 0;
  left: -100vw;

  background-color: var(--color-black-transparent);
  transition: 0.5s;
}

header.active::before {
  left: 0;

}

header h1 {
  position: absolute;
  transform: translateX(0%);
  left: 0%;
  color: var(--color-white);
  padding: 1.25rem 0.675rem;
  z-index: 5;
  transition: transform .5s, left .5s, font-size 0.5s;
}


header h1.active {
  transform: translateX(-50%);
  left: 50%; 
  font-size: var(--title-height);
}

.header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 0.25fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-hamburger {
  grid-area: 1 / 2 / 2 / 3;
  margin: 1rem 0 0 auto;
}

.grid-h1 {
  z-index: 5;
  grid-area: 2 / 1 / 3 / 3;
}