/* ----------------------------- */
/* ==reset */
/* ----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Hind+Madurai:wght@400;700&family=Josefin+Sans:wght@400;600;700&display=swap');

:root {
  --color-black: rgba(34, 30, 34, 1);
  --color-black-transparent: rgba(34, 30, 34, 0.8);
  --color-gold: #c59849;
  --color-white: #fcfaf9;
  --color-green: #60787d;
	--font-title: 'Glegoo', serif;
	--font-second: 'Josefin Sans', sans-serif;
	--font-texte: 'Hind Madurai', sans-serif;

}

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	font-size: 1rem; /* equiv 14px */
	line-height: 1; /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: 1.5em 0 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: bold;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
	font-family: var(--font-title);
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: bold;
	line-height: 1.75em;
	margin: .875em 0 0 0;
	font-family: var(--font-title);
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}
p {
	font-size: 1em; /* equiv 14px */
	font-family: var(--font-texte);
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label,
ul {
	margin: 0;
	padding: 0;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* link balise a */
a {
  outline: none;
}


a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:focus {

}

a:hover {

}

a:active {

}

/* avoid top margins on first content element */
p:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;
	hyphens: none;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}